body {
  display: flex;
  flex-direction: column;
  margin: 0 100px;
}

.header-container {
  background-color: #1F2937;
  display: flex;
  flex-direction: column;
  padding: 16px 0 75px 100px;
}

.header {
  display: flex;
  padding-bottom: 100px;
}

.logo {
  color: #F9FAF8;
  font-size: 24px;
  margin: 0;
}

.header-links {
  display: flex;
  margin-left: auto;
  padding-right: 80px;
  gap: 32px;
}

.header-links a {
  color: #E5E7EB;
  font-size: 18px;
  text-decoration: none;
}

.first {
  display: flex;
  padding-bottom: 35px;
}

.first-left {
  flex: 1;
  flex-wrap: wrap;
}

.first-left-title {
  color: #F9FAF8;
  font-size: 48px;
  font-weight: 900;
  width: 300px;
  margin-bottom: 0;
}

.first-left-text {
  color: #E5E7EB;
  font-size: 18px;
  width: 400px;
  margin-top: 0;
}

.first-button {
  background-color: #3882F6;
  border: none;
  border-radius: 6px;
  color: #F9FAF8;
  padding: 6px 24px; 
}

.first-right {
  flex: 1;
}

.placeholder {
  background-color: #8c9098;
  display: flex;
  height: 300px;
  width: 575px;
  justify-content: center;
  align-items: center;
  margin-right: 75px;
}

.placeholder p {
  color: #E5E7EB
}


.second-title {
  color: #1F2937;
  font-size: 36px;
  font-weight: 900;
  text-align: center;
  padding-top: 16px;
}

.squares-container {
  display: flex;
  justify-content: center;
  gap: 32px;
}

.square-outline {
  height: 125px;
  width: 125px;
  border-radius: 12px;
  border: 2px solid #3882F6;
}

.square {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.square p {
  text-align: center;
  width: 145px;
  padding-bottom: 64px;
}

.third {
  background-color: #E5E7EB;
  display: flex;
  flex-direction: column;
  margin-bottom: 64px;
}

.quote {
  font-size: 36px;
  font-style: italic;
  padding-top: 50px;
  padding-left: 275px;
  padding-right: 275px;
  margin-bottom: 0;
}

.quote-subtext {
  font-size: 24px;
  font-weight: 900;
  margin-left: auto;
  padding-right: 275px;
  padding-bottom: 50px;
}

.fourth {
  border: 1px solid red;
  background-color: #3882F6;
  border-radius: 10px;
  display: flex;
  margin-left: 150px;
  margin-right: 150px;
  padding: 45px 100px;
  margin-bottom: 64px;
}

.fourth-left {
  color: #F9FAF8;
  display: flex;
  flex-direction: column;
}

.fourth-title {
  font-size: 24px;
  font-weight: 900;
  flex: 1;
  margin: 0;
}

.fourth-text {
font-size: 18px;
margin: 0;
}

.fourth-right {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.fourth-button {
  background-color: #3882F6;
  border: 1px solid #F9FAF8;
  border-radius: 6px;
  color: #F9FAF8;
  padding: 6px 24px;
}

.footer {
  display: flex;
  background-color: #1F2937;
  justify-content: center;
}

.footer p {
  color: #E5E7EB;
  padding-top: 16px;
  padding-bottom: 16px;
}



